<div class="flex border-b">
  <!-- Selected product form -->
  <form class="flex flex-col w-full" [formGroup]="form">
    <div class="flex flex-col sm:flex-row p-8">
      <!-- Name, SKU & etc. -->
      <div class="flex flex-col w-full sm:pl-8">
        <h1>Création d&apos;un assignment</h1>

        <!-- Name -->
        <div>
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Label</mat-label>
            <input
              matInput
              [formControlName]="'label'"
              [placeholder]="'Label'"
              [spellcheck]="false"
            />
          </mat-form-field>
        </div>
        <!-- CourseId -->

        <div
          class="flex flex-col gt-xs:flex-row gt-xs:items-baseline"
          *ngIf="selectedCourse"
        >
          <span class="text-grey-500"> Course Selected : ( {{ selectedCourse.name }} : {{ selectedCourse.id }})</span>
          <mat-error *ngIf="form.get('courseId')?.hasError('required')">
            Please select an existing course
          </mat-error>
        </div>

        <div class="row" *ngIf="!courseIsPreload">
          <div class="col-6">
            <ngb-pagination
                  [collectionSize]="total"
                  [(page)]="page"
                  [(pageSize)]="pageSize"
                  [maxSize]="5"
                  [rotate]="true"
                  [boundaryLinks]="true"
                ></ngb-pagination>
          </div>
          <div class="col-6">
            <mat-form-field class="fuse-mat-no-subscript">
              <mat-label>course name</mat-label>
              <input
                matInput
                [formControl]="searchInputCourse"
                [placeholder]="'Course name'"
                [spellcheck]="false"
              />
            </mat-form-field>
          </div>
          <div class="col-12 table-responsive h-50 overflow-auto">
            <table
              mat-table
              [dataSource]="dataSource"
              matSort
              (matSortChange)="announceSortChange($event)"
              class="mat-elevation-z8 w-full"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by number"
                >
                  No.
                </th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by name"
                >
                  Name
                </th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="owner">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by owner"
                >
                  Owner
                </th>
                <td mat-cell *matCellDef="let element">{{ element.user.name }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onClickTable(row)"></tr>
            </table>
          </div>
        </div>

        <!-- Delivery Date -->
        <mat-form-field appearance="outline">
          <mat-label>Delivery date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="delivryDate"/>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('delivryDate')?.hasError('required')">
            Valid date required.
         </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="flex items-center justify-between w-full border-t px-8 py-4">
      <div class="flex items-center">
        <button
          mat-flat-button
          [color]="'primary'"
          [disabled]="form.invalid"
          (click)="create()"
        >
          Save
        </button>
      </div>
      <mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
    </div>
  </form>
</div>
