th.mat-sort-header-sorted {
  color: black;
};
td, th   {
  text-align: center !important;
  vertical-align: middle !important;
};

::ng-deep .mat-sort-header-container, .mat-header-cell {
  justify-content: center !important;
  font-weight: bold
};


