<div class="flex flex-col items-center justify-center">

  <h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-grey-800 w-full">
    List
  </h4>
  <div>
    
    <mat-checkbox [formControl]="hideRequiredControl"
      >Hide required marker</mat-checkbox
    >
  </div>
  <div>
    <ngb-pagination
      [collectionSize]="total"
      [(page)]="page"
      [(pageSize)]="pageSize"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
    ></ngb-pagination>
  </div>
  <div class="row w-full" *ngIf="paginationResult != null">
    <div
      class="col-sm-6 col-lg-4 col-xl-2"
      *ngFor="let course of paginationResult.results"
      [ngClass]="{
        'border-solid border-2 border-sky-500':
          courseSelected != null && courseSelected.id === course.id
      }"
      (click)="onClickItem(course)"
    >
      <div class="card h-128">
        <img
          class="object-scale-down h-48 img-responsive"
          [src]="sourceImage(course.pictureId)"
          alt="Card image cap"
        />
        <div class="card-body flex flex-col">
          <h4 class="card-title">{{ course.name }}</h4>
          <div class="flew flex-row mb-2">
            <img
              [src]="sourceImageUser(course.user.pictureId)"
              alt="user"
              class="rounded-circle"
              width="31"
            />
            <span class="ms-2">{{ course.user.name }}</span>
          </div>
          <p class="card-text h-24 overflow-x-auto">
            Description {{ course.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
