<div class="flex flex-col items-center justify-center" *ngIf="assignment">
  <div class="row w-full px-5">
    <div class="col-md-6">
      <mat-card class="details-card">
        <mat-card-title>Course</mat-card-title>
        <mat-card-content>
          <img
            class="object-scale-down h-48 img-responsive"
            [src]="sourceImageCourse(assignment.coursePictureId)"
            alt="Card image cap"
          />
          <div class="flex flex-row w-full">
            <mat-label>Title : </mat-label>
            <div>
              {{ assignment.course.name }}
            </div>
          </div>

          <div class="flex flex-row w-full">
            <mat-label>Description : </mat-label>
            <div class="overflow-y-auto break-words">
              {{ assignment.course.description }}
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="ml-4"
            mat-flat-button
            [color]="'primary'"
            (click)="detailsCourse(assignment.courseId)"
          >
            <mat-icon>visibility</mat-icon>
            <span class="ml-2 mr-1">Details</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="details-card">
        <mat-card-title>Assignment</mat-card-title>
        <mat-card-content>
          <div class="flex flex-row w-full">
            <mat-label>Label :</mat-label>
            <div>
              {{ assignment.label }}
            </div>
          </div>
          <div class="flex flex-row w-full">
            <mat-label>State :</mat-label>
            <div>
              {{ assignment.stateLabel }}
            </div>
          </div>
          <div class="flex flex-row w-full">
            <mat-label>Is Open : </mat-label>
            <div>
              <mat-slide-toggle
                [color]="'primary'"
                [checked]="assignment.state === 0"
                [disabled]="user.id != assignment.course.user.id || loadingState"
                (change)="changeState($event)"
              >
              </mat-slide-toggle>
            </div>
          </div>
          <div class="flex flex-row w-full">
            <mat-label>Delivery date : </mat-label>
            <div>
              {{ assignment.delivryDate }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-12">
      <mat-card class="details-card">
        <mat-card-title>Works</mat-card-title>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
