<div class="flex flex-col items-center justify-center" *ngIf="assignment">
  <div class="row w-full mb-5">
    <div class="col-md-6">
      <mat-card class="details-card">
        <mat-card-title>Course</mat-card-title>
        <mat-card-content>
          <img
            class="object-scale-down mat-card-image "
            [src]="imageHelper.sourceImageCourse(assignment.coursePictureId)"
            alt="Card image cap"
          />
          <ul class="list-group">
            <li class="list-group-item">
              <b>Course Name : </b> {{ assignment.course.name }}
            </li>
            <li class="list-group-item">
              <b>Assignments : </b> {{ assignment.course.stats.totalassignments }}
            </li>
            <li class="list-group-item">
              <b>Works : </b> {{ assignment.course.stats.totalworks }}
            </li>
            <li class="list-group-item">
              <b>Created at : </b> {{ assignment.course.createAt }}
            </li>
            <li class="list-group-item">
              <b>Updated at : </b> {{ assignment.course.updateAt }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card class="details-card">
        <mat-card-title>User</mat-card-title>
        <mat-card-content>
          <div class="card-footer flex flex-col">
            <div class="flew flex-row mb-2">
              <img
                [src]="imageHelper.sourceImageUser(assignment.course.user.pictureId)"
                alt="user"
                class="rounded-circle"
                width="31"
              />
              <b class="ms-2">{{ assignment.course.user.name }}</b>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="details-card">
        <mat-card-title>Assignment</mat-card-title>
        <mat-card-content>
          <ul class="list-group">
            <li class="list-group-item">
              <b>Label : </b> {{ assignment.label }}
            </li>
            <li class="list-group-item">
              <b>State : </b> {{ assignment.stateLabel }}
                <mat-slide-toggle
                  [color]="'primary'"
                  [checked]="assignment.state === 0"
                  [disabled]="!canEditAssignmentState"
                  (change)="changeState($event)"
                >
                </mat-slide-toggle>
            </li>
            <li class="list-group-item">
              <b>Delivery date : : </b> {{ assignment.deliveryDateLabel }}
            </li>
            <li class="list-group-item">
              <b>Created at : </b> {{ assignment.createAt }}
            </li>
            <li class="list-group-item">
              <b>Updated at : </b> {{ assignment.updateAt }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="w-full">
    <app-assignment-work-student [assignment]="assignment" *ngIf="isStudent"></app-assignment-work-student>
    <app-assignment-work-professor [assignment]="assignment" *ngIf="isProfessorAndOwner"></app-assignment-work-professor>
  </div>

</div>
