<div class="flex flex-col">
  <h4 class="text-3xl font-normal leading-normal mt-0 mb-2 text-grey-800">
    Courses
  </h4>

  <app-navcomponent [stateActions]="stateActions" (onChangeState)="onChangeState($event)"></app-navcomponent>

  <div class="border-solid border-2 border-sky-500 mt-4">
    <app-course-list *ngIf="listMode"></app-course-list>
    <app-course-create *ngIf="createMode"></app-course-create>
    <app-course-edit *ngIf="editMode"></app-course-edit>
    <app-course-details *ngIf="detailsMode"></app-course-details>

    <router-outlet></router-outlet>
  </div>
</div>
