<div class="flex">
  <!-- Selected product form -->
  <form class="flex flex-col w-full" [formGroup]="form">
    <div class="card shadow">
      <!-- Name, SKU & etc. -->
      <div class="card-header text-center">
        <h1>Création d&apos;un work</h1>
      </div>
      <div class="card-body">
        <!-- Name -->
        <div>
          <mat-form-field class="fuse-mat-no-subscript"  appearance="outline">
            <mat-label>Label</mat-label>
            <input
              matInput
              [formControlName]="'label'"
              [placeholder]="'Label'"
              [spellcheck]="false"
            />
          </mat-form-field>
        </div>

        <!-- CourseId -->

        <mat-form-field class="fuse-mat-no-subscript" *ngIf="!isPreload" appearance="outline">
          <mat-label>Filter assignments by course</mat-label>
          <input
            type="text"
            name="SelectCourse"
            matInput
            placeholder="Enter course's name"
            [formControl]="searchCourseControl"
            [matAutocomplete]="autoCourse"
            [spellcheck]="false"
          />
          <mat-autocomplete
            #autoCourse="matAutocomplete"
            [displayWith]="getOptionCourseText"
            (optionSelected)="updateMyCourse($event.option.value)"
          >
            <mat-option *ngFor="let option of courses" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- AssignmentId -->

        <mat-form-field class="fuse-mat-no-subscript" *ngIf="!isPreload" appearance="outline">
          <mat-label>Assignment</mat-label>
          <input
            type="text"
            name="SelectAssignment"
            matInput
            required
            placeholder="Enter assignment's name"
            [formControl]="searchAssignmentControl"
            [matAutocomplete]="autoAssignment"
            [spellcheck]="false"
          />
          <mat-autocomplete
            #autoAssignment="matAutocomplete"
            [displayWith]="getOptionAssignmentText"
            (optionSelected)="updateMyAssignment($event.option.value)"
          >
            <mat-option *ngFor="let option of assignments" [value]="option">
              {{ option.label }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="form.get('assignmentId')?.hasError('required')">
            Please select an existing assignment
          </mat-error>
          <mat-error *ngIf="searchAssignmentControl.hasError('required')">
            This is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div
          class="flex flex-col gt-xs:flex-row gt-xs:items-baseline"
          *ngIf="selectedAssignment"
        >
          <span class="text-grey-500">
           Assignment :  <b>{{ selectedAssignment.label }} :
            {{ selectedAssignment.id }}</b></span
          > <br>
          <span *ngIf="selectedCourse">
            Link to Course : <b>{{ selectedCourse.name }} :
            {{ selectedCourse.id }}</b></span
          >
        </div>
        <div class="mt-3 flex flex-col gt-xs:flex-row gt-xs:items-baseline">
          <mat-form-field class="fuse-mat-textarea flex-auto" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              [formControlName]="'description'"
              [rows]="12"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div
        class="card-footer items-center justify-between w-full border-t px-8 py-4"
      >
        <div class="flex items-center">
          <button
            mat-flat-button
            [color]="'primary'"
            [disabled]="form.invalid"
            (click)="create()"
          >
            Save
          </button>
        </div>
        <mat-progress-spinner
          mode="indeterminate"
          *ngIf="isLoading"
        ></mat-progress-spinner>
      </div>
    </div>
  </form>
</div>
