<div class="flex w-full justify-center">
  <div class="row w-full justify-center">
    <div class="example-container p-0 shadow card">
      <div class="card-header text-center">
        <h2 class=>Created</h2>
      </div>
      <div
        cdkDropList
        #createdList="cdkDropList"
        [cdkDropListData]="created"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
      <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollEvaluated()"
      [scrollWindow]="false"
      alwaysCallback
    >
        <div class="example-box d-block" *ngFor="let item of created" cdkDrag>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Label</span>
                </div>
                <input disabled type="text" class="form-control" value="{{item.label}}">
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Description</span>
                </div>
                <input disabled type="text" class="form-control" value="{{item.description}}">
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Student</span>
                </div>
                <input disabled type="text" class="form-control" value="{{item.user.name}}">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="example-container p-0 shadow card">
      <div class="card-header text-center">
        <h2 class=>Submited</h2>
      </div>

      <div
        cdkDropList
        #submittedList="cdkDropList"
        [cdkDropListData]="submitted"
        [cdkDropListConnectedTo]="[evaluatedList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
      <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollSubmitted()"
      [scrollWindow]="false"
      alwaysCallback
    >
        <div class="example-box d-block" *ngFor="let item of submitted" cdkDrag>
          <app-work-professor-item [isInEvaluation]="false" [item]="item" (onSave)="onSave($event)" (onSubmit)="onSubmit($event)"></app-work-professor-item>
        </div>
        </div>
      </div>
    </div>

    <div class="example-container p-0 shadow card">
      <div class="card-header text-center">
        <h2 class=>Evaluated</h2>
      </div>
      <div
        cdkDropList
        #evaluatedList="cdkDropList"
        [cdkDropListData]="evaluated"
        [cdkDropListConnectedTo]="[submittedList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
      <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollEvaluated()"
      [scrollWindow]="false"
      alwaysCallback
    >
          <div class="example-box d-block" *ngFor="let item of evaluated">
            <app-work-professor-item [isInEvaluation]="true" [item]="item" (onSave)="onSave($event)" (onSubmit)="onSubmit($event)" cdkDrag [cdkDragDisabled]="item.state === 2" ></app-work-professor-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
